USE [ProofTest]
GO
/****** Object:  Table [dbo].[Liquiphant_FTLxxB_V1_5]    Script Date: 29.07.2025 08:55:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Liquiphant_FTLxxB_V1_5](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Act_User] [nvarchar](50) NULL,
	[Serial_number] [nvarchar](50) NULL,
	[Device_tag] [nvarchar](50) NULL,
	[Device_tag_long] [nvarchar](50) NULL,
	[HIMA_system_tag] [nvarchar](50) NULL,
	[Device_type_extended] [nvarchar](50) NULL,
	[Device_ID] [nvarchar](50) NULL,
	[Manufacturer] [nvarchar](50) NULL,
	[Hardware_revision] [nvarchar](50) NULL,
	[Software_revision] [nvarchar](50) NULL,
	[CRC_before_test] [nvarchar](50) NULL,
	[CRC_after_test] [nvarchar](50) NULL,
	[Heartbeat_verif_result] [nvarchar](50) NULL,
	[Safety_function] [nvarchar](50) NULL,
	[Param_device_name] [nvarchar](50) NULL,
	[Param_device_serial_number] [nvarchar](50) NULL,
	[Param_device_tag] [nvarchar](50) NULL,
	[Alarm_selection] [nvarchar](50) NULL,
	[Transfer_function] [nvarchar](50) NULL,
	[Transmitter_units_code] [nvarchar](50) NULL,
	[Image_description] [nvarchar](200) NULL,
	[Report_path] [nvarchar](max) NULL,
	[Device_revision] [int] NULL,
	[Value_before_test] [decimal](10, 3) NULL,
	[Value_after_test] [decimal](10, 3) NULL,
	[Test_value_1] [decimal](10, 3) NULL,
	[Test_value_2] [decimal](10, 3) NULL,
	[Test_value_3] [decimal](10, 3) NULL,
	[Test_value_4] [decimal](10, 3) NULL,
	[Test_value_5] [decimal](10, 3) NULL,
	[Actual_value_1] [decimal](10, 3) NULL,
	[Actual_value_2] [decimal](10, 3) NULL,
	[Actual_value_3] [decimal](10, 3) NULL,
	[Actual_value_4] [decimal](10, 3) NULL,
	[Actual_value_5] [decimal](10, 3) NULL,
	[Precision] [decimal](10, 3) NULL,
	[Lower_range_value] [decimal](10, 3) NULL,
	[Upper_range_value] [decimal](10, 3) NULL,
	[Damping_value] [decimal](10, 3) NULL,
	[Manufactory_sensor_frequency] [decimal](10, 3) NULL,
	[Current_sensor_frequency] [decimal](10, 3) NULL,
	[Low_alert_value] [decimal](10, 3) NULL,
	[Low_alert_value_enabled] [float] NULL,
	[High_alert_value] [decimal](10, 3) NULL,
	[High_alert_value_enabled] [float] NULL,
	[High_error_current] [decimal](10, 3) NULL,
	[Low_error_current] [decimal](10, 3) NULL,
	[Demand_mode] [decimal](10, 3) NULL,
	[Error_code] [bigint] NULL,
	[Device_status] [int] NULL,
	[Extended_device_status] [int] NULL,
	[Error] [bit] NULL,
	[Print] [bit] NULL,
	[Test_endtime] [datetime] NULL,
	[Test_starttime] [datetime] NULL,
	[Heartbeat_verif_timestamp] [datetime] NULL,
	[Image_1] [image] NULL,
	[Image_2] [image] NULL,
	[Image_sign] [image] NULL,
	[Error_code_Byte4]  AS (CONVERT([int],[Error_code]/power((2),(24))&0xFF)) PERSISTED,
	[Error_code_Byte3]  AS (CONVERT([int],[Error_code]/power((2),(16))&0xFF)) PERSISTED,
	[Error_code_Byte2]  AS (CONVERT([int],[Error_code]/power((2),(8))&0xFF)) PERSISTED,
	[Error_code_Byte1]  AS (CONVERT([int],[Error_code]&0xFF)) PERSISTED,
 CONSTRAINT [PK_Liquiphant_FTLxxB_V1_5] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
