USE [ProofTest]
GO
/****** Object:  Table [dbo].[Promass_300_500_V1_5]    Script Date: 29.07.2025 17:17:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promass_300_500_V1_5](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Act_User] [nvarchar](50) NULL,
	[Serial_number] [nvarchar](50) NULL,
	[Device_tag] [nvarchar](50) NULL,
	[Device_tag_long] [nvarchar](50) NULL,
	[HIMA_system_tag] [nvarchar](50) NULL,
	[Device_type_extended] [nvarchar](50) NULL,
	[Device_ID] [nvarchar](50) NULL,
	[Manufacturer] [nvarchar](50) NULL,
	[Hardware_revision] [nvarchar](50) NULL,
	[Software_revision] [nvarchar](50) NULL,
	[Heartbeat_verif_result] [nvarchar](50) NULL,
	[Installation_direction] [nvarchar](50) NULL,
	[Assigned_current_output] [nvarchar](50) NULL,
	[Current_span] [nvarchar](50) NULL,
	[Output_mode] [nvarchar](50) NULL,
	[value_4_mA] [nvarchar](50) NULL,
	[value_20_mA] [nvarchar](50) NULL,
	[Damping] [nvarchar](50) NULL,
	[Failure_mode] [nvarchar](50) NULL,
	[Medium] [nvarchar](50) NULL,
	[Gas_type] [nvarchar](50) NULL,
	[Reference_sound_velocity] [nvarchar](50) NULL,
	[Temperature_coefficient] [nvarchar](50) NULL,
	[Partially_filled_pipe_detection] [nvarchar](50) NULL,
	[Low_value_partial_filled_pipe_detection] [nvarchar](50) NULL,
	[High_value_partial_filled_pipe_detection] [nvarchar](50) NULL,
	[Maximum_damping_partial_filled_pipe_detection] [nvarchar](50) NULL,
	[Assigned_low_flow_cutoff] [nvarchar](50) NULL,
	[Off_value_low_flow_cutoff] [nvarchar](50) NULL,
	[On_value_low_flow_cutoff] [nvarchar](50) NULL,
	[Pressure_shock_suppression] [nvarchar](50) NULL,
	[Pressure_compensation] [nvarchar](50) NULL,
	[Pressure_value] [nvarchar](50) NULL,
	[Zero_point] [nvarchar](50) NULL,
	[Alarm_selection] [nvarchar](50) NULL,
	[Transfer_function] [nvarchar](50) NULL,
	[Transmitter_units_code] [nvarchar](50) NULL,
	[Image_description] [nvarchar](200) NULL,
	[Report_path] [nvarchar](max) NULL,
	[Device_revision] [int] NULL,
	[Value_before_test] [decimal](10, 3) NULL,
	[Value_after_test] [decimal](10, 3) NULL,
	[Test_value_1] [decimal](10, 3) NULL,
	[Test_value_2] [decimal](10, 3) NULL,
	[Test_value_3] [decimal](10, 3) NULL,
	[Test_value_4] [decimal](10, 3) NULL,
	[Test_value_5] [decimal](10, 3) NULL,
	[Actual_value_1] [decimal](10, 3) NULL,
	[Actual_value_2] [decimal](10, 3) NULL,
	[Actual_value_3] [decimal](10, 3) NULL,
	[Actual_value_4] [decimal](10, 3) NULL,
	[Actual_value_5] [decimal](10, 3) NULL,
	[Precision] [decimal](10, 3) NULL,
	[HBSI_value] [decimal](10, 3) NULL,
	[Lower_range_value] [decimal](10, 3) NULL,
	[Upper_range_value] [decimal](10, 3) NULL,
	[Damping_value] [decimal](10, 3) NULL,
	[HBSI_result] [int] NULL,
	[Error_code] [bigint] NULL,
	[Device_status] [int] NULL,
	[Extended_device_status] [int] NULL,
	[Error] [bit] NULL,
	[Print] [bit] NULL,
	[Test_endtime] [datetime] NULL,
	[Test_starttime] [datetime] NULL,
	[Heartbeat_verif_timestamp] [datetime] NULL,
	[Image_1] [image] NULL,
	[Image_2] [image] NULL,
	[Image_sign] [image] NULL,
	[Error_code_Byte4]  AS (CONVERT([int],[Error_code]/power((2),(24))&0xFF)) PERSISTED,
	[Error_code_Byte3]  AS (CONVERT([int],[Error_code]/power((2),(16))&0xFF)) PERSISTED,
	[Error_code_Byte2]  AS (CONVERT([int],[Error_code]/power((2),(8))&0xFF)) PERSISTED,
	[Error_code_Byte1]  AS (CONVERT([int],[Error_code]&0xFF)) PERSISTED,
 CONSTRAINT [PK_Promass_300_500_V1_5] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
