USE [ProofTest]
GO
/****** Object:  Table [dbo].[Samson_3793_FST_V1_5]    Script Date: 29.07.2025 08:57:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Samson_3793_FST_V1_5](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Act_User] [nvarchar](50) NULL,
	[Serial_number] [nvarchar](50) NULL,
	[Device_ID] [nvarchar](50) NULL,
	[Device_tag] [nvarchar](50) NULL,
	[Device_tag_long] [nvarchar](50) NULL,
	[Device_type_extended] [nvarchar](50) NULL,
	[HIMA_system_tag] [nvarchar](50) NULL,
	[Manufacturer] [nvarchar](50) NULL,
	[Hardware_revision] [nvarchar](50) NULL,
	[Software_revision] [nvarchar](50) NULL,
	[Test_result] [nvarchar](50) NULL,
	[Image_description] [nvarchar](200) NULL,
	[Report_path] [nvarchar](max) NULL,
	[Device_revision] [int] NULL,
	[Device_status] [int] NULL,
	[Device_status_extended] [int] NULL,
	[Error_code] [bigint] NULL,
	[Response_code] [int] NULL,
	[Mode] [int] NULL,
	[Value_before_test] [decimal](10, 3) NULL,
	[Value_after_test] [decimal](10, 3) NULL,
	[Error] [bit] NULL,
	[Print] [bit] NULL,
	[Test_endtime] [datetime] NULL,
	[Test_starttime] [datetime] NULL,
	[Image_1] [image] NULL,
	[Image_2] [image] NULL,
	[Image_sign] [image] NULL,
	[Error_code_Byte4]  AS (CONVERT([int],[Error_code]/power((2),(24))&0xFF)) PERSISTED,
	[Error_code_Byte3]  AS (CONVERT([int],[Error_code]/power((2),(16))&0xFF)) PERSISTED,
	[Error_code_Byte2]  AS (CONVERT([int],[Error_code]/power((2),(8))&0xFF)) PERSISTED,
	[Error_code_Byte1]  AS (CONVERT([int],[Error_code]&0xFF)) PERSISTED,
 CONSTRAINT [PK_Samson_3793_FST_V1_5] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Samson_3793_V1_5]    Script Date: 29.07.2025 08:57:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Samson_3793_V1_5](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Act_User] [nvarchar](50) NULL,
	[Serial_number] [nvarchar](50) NULL,
	[Device_ID] [nvarchar](50) NULL,
	[Device_tag] [nvarchar](50) NULL,
	[Device_tag_long] [nvarchar](50) NULL,
	[Device_type_extended] [nvarchar](50) NULL,
	[HIMA_system_tag] [nvarchar](50) NULL,
	[Manufacturer] [nvarchar](50) NULL,
	[Hardware_revision] [nvarchar](50) NULL,
	[Software_revision] [nvarchar](50) NULL,
	[Test_result] [nvarchar](50) NULL,
	[Image_description] [nvarchar](200) NULL,
	[Report_path] [nvarchar](max) NULL,
	[Device_revision] [int] NULL,
	[Device_status] [int] NULL,
	[Device_status_extended] [int] NULL,
	[Error_code] [bigint] NULL,
	[Response_code] [int] NULL,
	[Mode] [int] NULL,
	[Value_before_test] [decimal](10, 3) NULL,
	[Value_after_test] [decimal](10, 3) NULL,
	[Error] [bit] NULL,
	[Print] [bit] NULL,
	[Test_endtime] [datetime] NULL,
	[Test_starttime] [datetime] NULL,
	[Image_1] [image] NULL,
	[Image_2] [image] NULL,
	[Image_sign] [image] NULL,
	[Error_code_Byte4]  AS (CONVERT([int],[Error_code]/power((2),(24))&0xFF)) PERSISTED,
	[Error_code_Byte3]  AS (CONVERT([int],[Error_code]/power((2),(16))&0xFF)) PERSISTED,
	[Error_code_Byte2]  AS (CONVERT([int],[Error_code]/power((2),(8))&0xFF)) PERSISTED,
	[Error_code_Byte1]  AS (CONVERT([int],[Error_code]&0xFF)) PERSISTED,
 CONSTRAINT [PK_Samson_3793_V1_5] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
